<div class="container-fluid">

  <%= render partial: "upper_dir_panel", sheet: @sheet %>

  <div class="fixed-upper-panel <% if @sheet.subtitle === 'Employé polyvalent (Cast Member) - Disney World' %> mb-40 <% end %> ">
    <div class="name">
      Thomas Bensadoun
    </div>
    <div class="position">
      Développeur Web
    </div>
  </div>
  <div class="row">
    <div class="col-3 panel-title">
      <div class="title">
        <%= @sheet.title %>
      </div>
      <div class="subtitle">
        <%= @sheet.subtitle %>
      </div>
    </div>
    <div class="col-9 panel-pres">
        <%= @sheet.content %>
        <% if @sheet.subtitle === "Apprentissage et recherche" %>
        <p class='left-ppv'><%= link_to 'Vous pouvez téléchargez mon CV ici, où vous trouverez mes informations de contact.', '/ThomasBensadoun.pdf' %></p>
        <% end %>
    </div>
  </div>
  <%= render partial: "fixed_lower_panel", sheet: @sheet %>
</div>
